body {
	margin: 0;
}
header {
	background-color: #DF5A7F;
}

header h1 {
	color: #FFF;
	padding: 0.24rem;
	margin: 0rem;
}
header h1 a {
	text-decoration: none;
	color: #FFF;
}
header ul {
	padding: 0rem;
}
header li {
	display: inline-block;
	margin-right: 1rem;
}

h1,h2,h3,h4,h5,h6 {
	color: #80B076;
}

header, footer, #content {
	padding: 0.4em 2em;

}

footer {
	padding-top: 2em;
	background-color: #5F484C;
	min-height: 12em;
	color: #FE9CB7;
}

.four-o-four h1{
	font-size: 6rem;
}